#myBoard {
    width: 500px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
header {
    text-align:center; 
    font-family:Georgia,serif; 
    color:white;
    font-size: 50px;
}

h2 {
    text-align:left; 
    font-family:Georgia,serif; 
    color:white;
}
p {
    text-align: center;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    color:rgb(57, 57, 57);
} 
.container {
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

